.text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
}

@media only screen and (max-width: 576px) {
    .mobile-card-container > .row {
        overflow-x: auto;
    }
}
